<html>
    <head>
        <meta charset="utf-8">
        <i class="fa-solid fa-heart" style="color: #000000;"></i> <!-- 하트 아이콘-->
        <i class="fa-solid fa-pen" style="color: #000000;"></i> <!--연필-->


        <link rel="stylesheet" href="css/HTML_HW.css" type="text/css"> <!-- CSS 불러오기 -->

        <script src="//code.jquery.com/jquery-1.11.0.min.js"></script> <!-- 해더 include JS -->
        <script type="text/javascript">   
        $(document).ready( function() {
        $("#headers").load("header.html"); 
        });
        </script>
        
    </head>

        <body>

            <div id="headers"></div> <!-- 해더 불러오기 -->

            <section id ="maintext">  <!-- 매인 화면 글 -->
                <div>
                    <h2>안녕하세요.</h2>
                    <p>익멍의 커뮤니키 공간 입니다. 개시글은 모두 익명으로 올라가며 개시글 수정 및 삭제는 불가능합니다.</p>

                    <p><a  id="loginbox" href="/LOGIN" target="_self" style="text-decoration:none" >SIGN IN</a></p> <!-- 로그인 박스 구현 -->

                </div>
            </section>

        </body>
    
</html>
