<html>
<header>

    <div id = "Head">
        <h1 class = "logo">CAR_WASH_GUIDE</h1> <!-- 좌측 상단 로고 -->

        <nav id = "list">
            <ul class = "lis"> <!-- 우측 상단 리스트 -->
                <li><a href="/MAIN" target="_self" style="text-decoration:none">MAIN</a></li>
                <li><a href="/POST" target="_self" style="text-decoration:none">POST</a></li>
                <li><a href="/CONTECT_LIST" target="_self" style="text-decoration:none">CONTECT ME</a></li>
                <li><a href="/LOGIN" target="_self" style="text-decoration:none">SIGN IN</a></li>
            </ul>
        </nav>
    </div>
</header>
