<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="css/HTML_HW.css" type="text/css"><!-- CSS 불러오기 -->
        <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script> <!-- fontawesome 에서 CDN 로 가져온 스크립트 -->
        <script src="//code.jquery.com/jquery-1.11.0.min.js"></script> <!-- 해더 include JS -->
        <script type="text/javascript">   
        $(document).ready( function() {
          $("#headers").load("header.html"); 
        });
        </script>
    </head>
    <body>
        <div id="headers"></div> <!-- 해더 불러오기 -->

        <section id="post_text">  <!-- NEW POST 와 검색창 구현 코드 -->
            <div id="scbox">
                <p><a id="NT" href="/new_post" target="_self" style="text-decoration:none; color: #000000;">글 작성하기!</a></p> <!-- 뉴 포스트 -->
                <div id="searchbox">
                    <input type="text" placeholder="Search"> <!-- 검색창과 검색 버튼 -->
                    <button>검색</button> 
                </div>
            </div>
            <div id="postbox_in"></div>
        </section>

        <script>
            fetch('/api/post')
                .then(response => response.json())
                .then(data => {
                    let post_box = document.getElementById('postbox_in');
                    data.results.forEach(post => { // 수정된 부분
                        let post_title = post.post_title;
                        let post_content = post.post_content;
                        let html = `
                            <div class="postbox">
                                <div class="title">${post_title}</div>
                                <hr />
                                <div class="cont">${post_content}</div>
                                <hr />
                                <div align="right">
                                    <i class="fas fa-heart"></i>
                                </div>
                            </div>
                        `;
                        post_box.innerHTML += html;
                    });
                })
        </script>
    </body>
</html>
