[Unit]
Description= hello

[Service]
ExecStart=home/ubuntu/23_1_WEB_PJ/HTTPSSS/index.js
Restart=always
Group=nogroup
WorkingDirectory=/home/ubuntu/23_1_WEB_PJ/HTTPSSS

[Install]
WantedBy=multi-user.target
